@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-prev:before {
  color: #6772E5;
}
.slick-next:before {
  color: #6772E5;
}

.slick-dots li.slick-active button:before {
  color: #6772E5;
}

.slick-dots li button:before {
  color: #6772E5;
}


